@import './../global/reset';
@import './../global/rwd';
@import './../global/debug';
@import './../global/fonts';
@import './../global/hamburger';

@import './../sections/nav.scss';
@import './../sections/footer.scss';

html , body {
    width: 100vw;
    overflow-x: hidden;
}

.main-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	
}
.wrap-content {
	margin: 0 auto;
	padding: 0px 20px;

	@include xl-min {
	width: 1200px;
	}

	@include xxl-min {
		width: 1440px;
	}
}