
$LeftWidth_XL: 33%;
$RightWidth_XL: calc(100% - #{$LeftWidth_XL});

$LeftWidth_XXL: 38%;
$RightWidth_XXL: calc(100% - #{$LeftWidth_XXL});


nav {
    margin-top: 30px;
    padding: 0px 40px;
    height: $nav-height-mobile;

    @include xl-min {
        display: flex;
        align-items: flex-start;
        justify-content:space-between;
        height: $nav-height-desktop;
    }

    .logo {
        max-width: 260px;
        @include xl-min {
            max-width: 100%;
        }
        @include xxl-min {
            width: 540px;
        }
    }

    .nav-left {
        @include xl-min {
            width: $LeftWidth_XL;
        }
        @include xxl-min {
            width: $LeftWidth_XXL;
        }
    }

    .nav-right {
        
        position:absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 0%;
        padding: 20px 20px 30px 20px;
        overflow: hidden;
        transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
        display:flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        overflow: visible;

        @include xl-min {
            width: $RightWidth_XL;
            position: static;
            background-color: transparent;
            height: auto;
            padding: 0px 0px 30px 20px;

            ul {
                opacity: 1 !important;
            }
        }

        @include xxl-min {
            width: $RightWidth_XXL;
        }


        &__open {
            @include mobile {
                height: 100vh;
                padding: 60px 20px 30px 20px;
                background-color: rgba(255, 255, 255, 0.9);
                transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
            }
           
            @include lg {
                height: 100vh;
                padding: 60px 20px 30px 20px;
                background-color: rgba(255, 255, 255, 0.9);
                transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
            }
            
            @include xl-min {
                background-color: transparent;
            }

            #main-menu , #menu-menu {
                display: flex;
                align-items: flex-start;
            }

            ul {
                opacity: 1 !important;
                li {
                    margin: 10px 20px;
                    
                    a {
                        filter: invert(100%) !important;
                    }

                    
                }
            }
        }

        ul {
            transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
            opacity:0;
        }

        .hamburger {
            position: absolute;
            right: 40px;
            top: 16px;
            cursor: pointer;


            @include xl-min {
                display: none;
            }
            .hamburger--spin {
                position: relative;
                left: -20px;
            }
        } 
    }

    
    #main-menu {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
       
        @include mobile {
            display: none;
        }

        @include xl-min {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            height: auto;
        }

        li {
            position: relative;
            a {
                color: #000;
                text-decoration: none;
                display: inline-block;
                margin: 0px 20px;
                filter: invert(0%);
                transition: filter .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                @include xxl-min {
                    margin: 0px 5px;
                }

                &:hover {
                    filter: invert(100%)
                }
            }

            &:last-of-type {
                a {
                    margin-right: 0px;
                }
                
            }
        }

        img {  
            width: 170px;
            @include xxl-min {
                width: 230px;
            }
          
        }
        .has-children {
          
            .submenu {
                padding-top: 65px;
                position:absolute;
                top:0px;
                display: flex;
                flex-direction: column;
                z-index: -1;
                opacity: 0 !important;
                transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
              
            }

            @include xl-min {
                &:hover {
                    .submenu {
                        opacity: 1 !important;
                    }
                }
            }

            a {
                @include mobile {
                    // pointer-events: none;
                    // cursor: pointer;
                }
            }
            
        }

       
    }

}


// for WP 

ul#main-menu > li > a > img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

ul#main-menu a {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 7px;
    min-width: 230px;
    height: 62px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.menu-item-has-children {

    .sub-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
            position: relative;
          

            img {
                display: none;
            }

            a {
                color: #fff !important;
                display: flex !important;
                justify-content: flex-start !important;
                padding: 4px 0px 2px 20px !important;
                height: auto !important;
            }
        }

        .city-label {
            a {
                background-repeat: no-repeat;
            }
        }

        .city-krakow {
         
             a {
                  background-image: url(./../images/city-labels/krakow-label.png);
                  background-size: 207px 50px;
                  height: 50px !important;
                  width: 207px!important
                 
             }
        }
        .city-katowice {
         
            a {
                 background-image: url(./../images/city-labels/katowice-label.png);
                 background-size: 239px 49px;
                 height: 49px !important;
                 width: 239px !important;
            }
        }
        .city-wroclaw {
          
            a {
                 background-image: url(./../images/city-labels/wroclaw-label.png);
                 background-size: 239px 47px;
                 height: 47px;
            }
        }
        .city-lodz {
           
            a {
                 background-image: url(./../images/city-labels/lodz-label.png);
                 background-size: 143px 47px;
                 height: 47px;
            }
        }
        .city-warszawa {
           
            a {
                 background-image: url(./../images/city-labels/warszawa-label.png);
                 background-size: 261px 50px;
                 height: 50px !important;
                 width: 261px !important;
            }
        }
        .city-poznan {
           
            a {
                 background-image: url(./../images/city-labels/poznan-label.png);
                 background-size: 191px 46px;
                 height: 46px !important;
                 width: 191px !important;
            }
        }
        .city-szczecin {
           
            a {
                 background-image: url(./../images/city-labels/szczecin-label.png);
                 background-size: 234px 45px;
                 height: 45px !important;
                 width: 234px !important;
            }
        }
        .city-gdansk {
           
            a {
                 background-image: url(./../images/city-labels/gdansk-label.png);
                 background-size: 221px 49px;
                 height: 49px !important;
                 width: 221px !important;
            }
        }
    }
}