

html , body {
  font-family: 'Big Shoulders Display', cursive;
  background: no-repeat center/cover url("../images/bgmain.jpg") ;
}

.main-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	
}
.wrap-content {
	margin: 0 auto;
	padding: 0px 20px;

	@include xl-min {
	width: 1200px;
	}

	@include xxl-min {
		width: 1440px;
	}
}